In [1]:
import sys
sys.path.append('/home/dnlab/Jupyter-Bitcoin/Heuristics/ExperimentSpeed/complete_code')
import pandas as pd
from test_cluster_db_query import ClusterDB
import test_db_query as dq
import csv
import time
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
cdq = ClusterDB('/home/dnlab/DataSSD/dbv3cluster.db')

In [3]:
edf = pd.read_csv('/home/dnlab/DataHDD/exchange2_with_length.csv')
edf

,Unnamed: 0,number,ClusterName,len
0,41,155624,Coinbase.com,2
1,42,534001,VirWoX.com,68658
2,43,534001,"CRYPT,https://bitcointalk.org/index.php?action...",68658
3,44,534001,"K.A.T,https://bitcointalk.org/index.php?action...",68658
4,45,534001,bitcoin,68658
...,...,...,...,...
137393,137434,535232325,korbit.co.kr,39
137394,137435,535233315,korbit.co.kr,10
137395,137436,542543179,korbit.co.kr,5
137396,137437,545548931,korbit.co.kr,10
137397,137438,687135010,Poloniex.com,3

In [8]:
bit = edf[edf['ClusterName'] == 'bithumb.com']

In [16]:
bit = bit.sort_values('len')

In [17]:
bit_list = bit['len'].to_list()

In [18]:
cluster_dict = dict()
for i in bit_list:
    cluster_dict[i] = cluster_dict.get(i, 0) + 1

In [19]:
cluster_dict

{2: 18125,
 3: 3700,
 4: 911,
 5: 307,
 6: 102,
 7: 35,
 8: 14,
 9: 1,
 10: 2,
 15: 1,
 35: 1,
 41: 1,
 145: 1,
 262: 1,
 423: 1,
 992: 1,
 56583: 1,
 90521: 1,
 130633: 1}

In [27]:
edf = pd.read_csv('/home/dnlab/DataHDD/korbit0.csv')
edf
edf.sort_values('Indegree')

                                      addr  Indegree         Income
84914   36Tn1AE6XDjZYtRdcXrQy89dC9M7RBfXcS         1       0.072197
85408   3988qLJSWd3z9B6W6eu4kNDL1PQ9MKh6T5         1       2.275965
85407   3JhtRQcXfcqANjyPSUqzR8x2v1hs4bnocw         1       0.294032
85406   3QQc3yVfyuetMNT5gebp6dey1z7ngzJ3dW         1       0.599836
135592  3DMgPQtmzhNcrL1cSLvNJLQ9DhUsS8KrLL         1       0.027868
...                                    ...       ...            ...
8530    33Az4QNcweF49JB3EV6vyKqyAVjkv1qgvf      6889     153.334578
19705   3P2L5LKKwV85XJwMYZeGaTsSpmQ4qV7eeM      6981     197.873141
21444   3FDumFVGLtJa5Wn5phvXTYFneg13UQnUmc      7038     322.594885
2332    3CNScBdcC9D39C1amvSMjtDJkTCQUaJhg2     10335  166434.628195
540     3GKhnjfyYreoMdyhZigzp1oaXrLPTKMW8x     10898  119045.093690

[169829 rows x 3 columns]

In [28]:
edf2 = pd.read_csv('/home/dnlab/DataHDD/korbit2.csv')
edf2
edf2.sort_values('Indegree')

                                    addr  Indegree        Income
3544  171f6NT85g9wGQjzm9NEVHDKAQiksSwxuS         1      0.002500
2486  1EzEvtqfJHPtEgiXiNZDghPMRx4bGbRev3         1      0.139600
1117  17uDatJVgWyfumTjepKaMSSXJt4gSQ8XFg         1      0.000900
2487  13769RW3ngv7xUt6A91Q79Surfbtaqk18h         1      0.000400
2488  1EAnFRybXf53ho3yo565eUA5EMNPmvnhfh         1      0.874892
...                                  ...       ...           ...
2433  1Gxd9c2VuLcQjee1tubhHSJShrG6TbyUcY      1036     54.477524
1251  1KHFeyp2Sb4xXg1rjnNRi4c8yhb3XDSTSC      1038  14274.673731
2253  19iGtbDzXSASmcyJFbdgCiFikZMRpVaMWp      1041     51.112372
2346  1JeyZBDbJTz5d1rfSkGqywzwX2AWySUByW      1260     61.409464
356    1En5ErLPzF9RMeP8z8hjna3SMjGbBXRnL      1435  10599.088178

[3545 rows x 3 columns]